<div class="my-5 row d-flex justify-content-center">
    <form id='edit-post-form' style="width: 45rem;" data-id="{{post.id}}">
        <div>
            <div id='edit-post-header' class="d-flex justify-content-center">
                <h2 class="mb-5">Edit Post</h2>
            </div>
        </div>
        <div id="edit-post-div" class="row d-flex align-items-center justify-content-center" style="width: 45rem;">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                <input type='text' class="form-control" id='edit-title-input' value='{{post.title}}'
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
            </div>
            <div class="input-group" style="height: 15rem;">
                <span class="input-group-text">Content</span>
                <textarea id='edit-post-content-input' name='edit-post-content-input' class="form-control"
                    aria-label="With textarea" form='edit-post-form'>{{post.content}}</textarea>
            </div>
            <div class="row">
                <div class="col mt-3 d-flex justify-content-center">
                    <button type='submit' class="btn btn-info" id='update-post-btn'>Update Post</button>
                </div>
                <div class="col mt-3 d-flex justify-content-center">
                    <button type='button' class="btn btn-info" id='delete-post-btn'
                        data-id="{{post.id}}">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>