<div class="my-5 row d-flex justify-content-center">
    <form id='new-post-form' style="width: 45rem;">
        <div>
            <div id='new-post-header' class="d-flex justify-content-center">
                <h2 class="mb-5">Create New Post</h2>
            </div>
        </div>
        <div id='new-post-div' class="row d-flex align-items-center justify-content-center" style="width: 45rem;">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                <input type="text" class="form-control" id='title-input' aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group" style="height: 15rem;">
                <span class="input-group-text">What would you like to say?</span>
                <textarea id='post-content-input' class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="mt-3">
                <button type='submit' class="btn btn-info" id='create-new-post'>Submit</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/addPost.js"></script>